.map {
    visibility: hidden;
  border: solid 1px black;
}

.navbar-brand {
    font-size: 24px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
}

.list-group {
    margin-left:-15px;
    margin-right:-15px;
}

.list-group-item {
  padding: .5em;
}

.panel-head {
    padding: 10px 10px 0 10px;
}